.modal-container {
  border: black;
  width: 30%;
  margin-left: 35%;
  background-color: lightblue;
  height: 9vh;
  position: absolute;
  border-color: black;
  border-style: outset;
  color: black;
  font-weight: bolder;
}
