<h1>Welcome to Read Coach</h1>

{{#link-to 'main-page.read-train'}}
  <button type="button" name="button">Train</button>
{{/link-to}}
{{#link-to 'main-page.read-test'}}
  <button type="button" name="button">Test</button>
{{/link-to}}
{{outlet}}
