<h1 class="main-header">Read Coach</h1>

<div class="train-test-container">
  {{#link-to 'main-page.read-train'}}
    <button type="button" name="button">Train</button>
  {{/link-to}}

  {{#link-to 'main-page.read-test'}}
    <button type="button" name="button">Test</button>
  {{/link-to}}

  {{#link-to 'main-page.advanced-training'}}
    <button type="button" name="button">Advanced Training</button>
  {{/link-to}}

  {{#link-to 'main-page.advanced-test'}}
    <button type="button" name="button">Advanced Test</button>
  {{/link-to}}
</div>
<div class="outlet-container">
  {{outlet}}
</div>
