<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <br><br>
    <div class="jumbotron">
      <h1 class="main-header">ReadCoach</h1>
      <br>
      <center><div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default">{{#link-to 'main-page.read-train'}}Start Training{{/link-to}}</button>
          <button type="button" class="btn btn-default">{{#link-to 'main-page.read-test'}}Start Test{{/link-to}}</button>
          <button type="button" class="btn btn-default">{{#link-to 'main-page.advanced-training'}}Start Advanced Training{{/link-to}}</button>
          <button type="button" class="btn btn-default">{{#link-to 'main-page.advanced-test'}}Start Advanced Test{{/link-to}}</button>
      </div></center>
      <div class="outlet-container">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
