{{#if loading}}
  {{#read-coach-modal}}
  <div class="modal-container">
    Creating Training Session...
  </div>
  {{/read-coach-modal}}
{{/if}}
{{correctCount}} Correct
<img src={{image}}>
{{word}}
{{speech-recognition verifyWord="verifyWord" stopSpeechRecognition=stopSpeechRecognition}}
