<div class="row">
  <div class="col-md-2 pull-right">
    {{#if session.isAuthenticated}}
        <h4>{{session.name}} <a class="fading-button" href="#" {{action 'invalidateSession'}}>Logout</a></h4>
      {{/if}}
  </div>
</div>
