<div class="container-fluid navbar-container">
  <div class="navbar-wrapper">
    <div class="col-md-10 col-md-offset-1 navbar">
      {{#link-to 'main-page' class="col-md-1 navbar-tab"}}
        <span>
          Main
        </span>
      {{/link-to}}

      {{#link-to 'profile' class="col-md-1 navbar-tab"}}
        <span>
          Profile
        </span>
      {{/link-to}}

      {{#link-to 'main-page.read-train' class="col-md-1 navbar-tab"}}
        <span>
          Train
        </span>
      {{/link-to}}

      {{#link-to 'main-page.read-test' class="col-md-1 navbar-tab"}}
        <span>
          Test
        </span>
      {{/link-to}}

      {{#link-to 'main-page.advanced-training' class="col-md-1 navbar-tab"}}
        <span>
          Advanced Training
        </span>
      {{/link-to}}

      {{#link-to 'main-page.advanced-test' class="col-md-1 navbar-tab"}}
        <span>
          Advanced Test
        </span>
      {{/link-to}}

      <div class="nav-profile">
        {{#if session.isAuthenticated}}
          {{session.name}}
          <a class="fading-button" href="#" {{action 'invalidateSession'}}>Logout</a>
        {{/if}}
      </div>

    </div>
  </div>
</div>
