<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="jumbotron auth-container">
      <center><h1>Register</h1></center><br>
      {{registration-form}}
    </div>
  </div>
</div>
{{registration-form goToMainPage="goToMainPage"}}
